<html>
  <head>
    <title>Hi guise</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="kinetic.js"></script>
    <script type="text/javascript">
      grid = {{grid}};
    </script>
    <script type="text/javascript" src="application.js"></script>
  </head>

  <body>

    <header>
      <h1 class="page-width">The Super Mega SMS Maze Racer</h1>
    </header>

    <main>

      <div id="game-container"></div>

      <div class="page-width">
        <h2>How do I play?</h2>
        <ol>
          <li>First send <span class="bold">join</span> in a text to <span class="bold">+447860 033155</span>. You will appear in the maze.</li>
          <li>Text the commands below to the above number to move about:</li>
          <ul>
            <li><span class="bold">up W</span> to move up by W number of tiles</li>
            <li><span class="bold">down X</span> to move down by X number of tiles</li>
            <li><span class="bold">left Y</span> to move left by Y number of tiles</li>
            <li><span class="bold">right Z</span> to move right by Z number of tiles</li>
          </ul>
          <li>First one to the end wins!</li>
        </ol>
      </div>

    </main>

    <footer>

    </footer>

  </body>

</html>