html, body, header, main, footer, div {
  padding: 0;
  margin: 0;
} 

body {
  font-family: Helvetica, Arial;
  color: rgb(80,80,80);
  font-size: 20px;
}

header {
  width: 100%;
  background: rgb(240,240,240);
}

header h1 {
  padding: 0.5em 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 2.5em;
}

main {
}

#game-container {
  padding: 1em 0;  
  text-align: center;
  border-top: 4px solid rgb(200,200,200);
  border-bottom: 4px solid rgb(200,200,200);
  background: rgb(220,220,220);
}

footer {
  width: 100%;
}

.page-width {
  width: 1000px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

span.bold {
  font-weight: bold;
}

ol li {
  margin-bottom: 0.5em;
}